In [26]:
import pandas as pd
import numpy as np
data=pd.read_excel('1.2.1.xlsx', sheet_name="Лист1")
data

   n, номер   m, г  x0,мм   x,мм  U, м/с  x0,см  x,см
0       1.0  0.513  -2.75  10.00   135.8    NaN   NaN
1       2.0  0.513  -3.75   9.00   139.3    NaN   NaN
2       3.0  0.505  -4.75   8.00   140.5    NaN   NaN
3       4.0  0.505  -5.75   6.75   141.7    NaN   NaN
4       5.0  0.497    NaN    NaN   105.7    1.0   8.0
5       6.0  0.513    NaN    NaN   100.0    2.2   9.1
6       7.0  0.509    NaN    NaN   104.3    0.5   8.1
7       8.0  0.505    NaN    NaN   102.3    2.0   8.0

In [27]:
data.loc[0:3, "d_x мм"]=-data["x0,мм"]+data["x,мм"]
data.loc[0:3, "U"]=2.9/data["m, г"]*np.sqrt(9.82/2.22)*data["d_x мм"]
data

   n, номер   m, г  x0,мм   x,мм  U, м/с  x0,см  x,см  d_x мм           U
0       1.0  0.513  -2.75  10.00   135.8    NaN   NaN   12.75  151.589833
1       2.0  0.513  -3.75   9.00   139.3    NaN   NaN   12.75  151.589833
2       3.0  0.505  -4.75   8.00   140.5    NaN   NaN   12.75  153.991256
3       4.0  0.505  -5.75   6.75   141.7    NaN   NaN   12.50  150.971820
4       5.0  0.497    NaN    NaN   105.7    1.0   8.0     NaN         NaN
5       6.0  0.513    NaN    NaN   100.0    2.2   9.1     NaN         NaN
6       7.0  0.509    NaN    NaN   104.3    0.5   8.1     NaN         NaN
7       8.0  0.505    NaN    NaN   102.3    2.0   8.0     NaN         NaN

In [28]:
line=data.loc[0:3, ["m, г","x0,мм", "x,мм", "d_x мм", "U", "U, м/с"]]
line

    m, г  x0,мм   x,мм  d_x мм           U  U, м/с
0  0.513  -2.75  10.00   12.75  151.589833   135.8
1  0.513  -3.75   9.00   12.75  151.589833   139.3
2  0.505  -4.75   8.00   12.75  153.991256   140.5
3  0.505  -5.75   6.75   12.50  150.971820   141.7

In [29]:
line["U"].std()

1.3358687174064987

In [34]:
data.loc[4:7,["d_x"]]=data["x,см"]-data["x0,см"]
data.loc[4:7,["fi"]]=data["d_x"]/45.5/2
data

,"n, номер","m, г","x0,мм","x,мм","U, м/с","x0,см","x,см",d_x мм,U,d_x,fi
0,1.0,0.513,-2.75,10.00,135.8,NaN,NaN,12.75,151.589833,NaN,NaN
1,2.0,0.513,-3.75,9.00,139.3,NaN,NaN,12.75,151.589833,NaN,NaN
2,3.0,0.505,-4.75,8.00,140.5,NaN,NaN,12.75,153.991256,NaN,NaN
3,4.0,0.505,-5.75,6.75,141.7,NaN,NaN,12.50,150.971820,NaN,NaN
4,5.0,0.497,NaN,NaN,105.7,1.0,8.0,NaN,192.576943,7.0,0.076923
5,6.0,0.513,NaN,NaN,100.0,2.2,9.1,NaN,183.905350,6.9,0.075824
6,7.0,0.509,NaN,NaN,104.3,0.5,8.1,NaN,204.154261,7.6,0.083516
7,8.0,0.505,NaN,NaN,102.3,2.0,8.0,NaN,162.451045,6.0,0.065934

In [35]:
data.loc[4:7,["U"]]=data["fi"]*0.135/data["m, г"]/0.217*1e3
data

,"n, номер","m, г","x0,мм","x,мм","U, м/с","x0,см","x,см",d_x мм,U,d_x,fi
0,1.0,0.513,-2.75,10.00,135.8,NaN,NaN,12.75,151.589833,NaN,NaN
1,2.0,0.513,-3.75,9.00,139.3,NaN,NaN,12.75,151.589833,NaN,NaN
2,3.0,0.505,-4.75,8.00,140.5,NaN,NaN,12.75,153.991256,NaN,NaN
3,4.0,0.505,-5.75,6.75,141.7,NaN,NaN,12.50,150.971820,NaN,NaN
4,5.0,0.497,NaN,NaN,105.7,1.0,8.0,NaN,96.288472,7.0,0.076923
5,6.0,0.513,NaN,NaN,100.0,2.2,9.1,NaN,91.952675,6.9,0.075824
6,7.0,0.509,NaN,NaN,104.3,0.5,8.1,NaN,102.077130,7.6,0.083516
7,8.0,0.505,NaN,NaN,102.3,2.0,8.0,NaN,81.225523,6.0,0.065934

In [37]:
spin=data.loc[4:7,["m, г", "x0,см", "x,см", "d_x", "fi", "U", "U, м/с"]]
spin

    m, г  x0,см  x,см  d_x        fi           U  U, м/с
4  0.497    1.0   8.0  7.0  0.076923   96.288472   105.7
5  0.513    2.2   9.1  6.9  0.075824   91.952675   100.0
6  0.509    0.5   8.1  7.6  0.083516  102.077130   104.3
7  0.505    2.0   8.0  6.0  0.065934   81.225523   102.3

In [38]:
print(spin.style.to_latex(clines="all;data"))

\begin{tabular}{lrrrrrrr}
 & m, г & x0,см & x,см & d_x & fi & U & U, м/с \\
4 & 0.497000 & 1.000000 & 8.000000 & 7.000000 & 0.076923 & 96.288472 & 105.700000 \\
\cline{1-8}
5 & 0.513000 & 2.200000 & 9.100000 & 6.900000 & 0.075824 & 91.952675 & 100.000000 \\
\cline{1-8}
6 & 0.509000 & 0.500000 & 8.100000 & 7.600000 & 0.083516 & 102.077130 & 104.300000 \\
\cline{1-8}
7 & 0.505000 & 2.000000 & 8.000000 & 6.000000 & 0.065934 & 81.225523 & 102.300000 \\
\cline{1-8}
\end{tabular}

In [43]:
spin.loc[4:6]["U"].std()

5.079571772360761